@inherits TextFieldComponentBase

<div class="d-flex flex-column gap-2" style="width: 100%;">
	<span>@Label</span>
	<input class="input px-3 py-4" type="text" value="@Value" placeholder="Type here..."/>
</div>