@inherits MainLayoutBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@if (_appState.UserInformation != null) {
    @if(String.IsNullOrEmpty(_appState.UserInformation.UserName))
    {
        //Render
        <div class="height100vh width100 d-flex align-content-center justify-content-center">
            <UserInformationComponent OnProceed="(e)=> OnProceed(e)" AppState="_appState"></UserInformationComponent>
        </div>
    } else {

        <div class="page height100vh">
            @*         <div class="sidebar">^
                <NavMenu />
            </div>
*@
            <main>
                <div class="top-row px-4">
                    <MudText Typo="Typo.h6">Time tracking</MudText>
                    <MudSpacer/>
                    <span>Welcome</span>, @_appState.UserInformation.UserName
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    }
} else
{
    <div class="center-flex height100vh">
        <MudProgressCircular Size="Size.Small" Indeterminate></MudProgressCircular>
    </div>
}