@page "/"

@inherits HomePageBase

<PageTitle>Time Tracking</PageTitle>
<div class="d-flex justify-content-center">
	<SelectComponent Label="Select Project" SelectedProject="(e)=> OnProjectSelected(e)"></SelectComponent>

</div>